.table-head {
  position: sticky;
  top: 0;
}
.table-head th:first-child {
  border-radius: 10px 0 0 0px;
}
.table-head th:last-child {
  border-radius: 0 10px 0 0;
}
.table-head th:only-child {
  border-radius: 10px 10px 0 0;
}

.table-foot {
  position: sticky;
  top: 0;
}
.table-foot th:first-child {
  border-radius: 0 0 0 10px;
}
.table-foot th:last-child {
  border-radius: 0 0 10px 0;
}
.table-foot th:only-child {
  border-radius: 0 0 10px 10px;
}
