.login-buttons {
  align-self: auto;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  width: 100%;
}

.register-button {
  background-color: red;
  width: 325px;
  flex-shrink: 1;
  flex-grow: 1;
}

.goog-sign-in-button {
  background-color: white;
  width: 325px;
  flex-shrink: 1;
  flex-grow: 1
}