@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.table-head {
  position: sticky;
  top: 0;
}
.table-head th:first-child {
  border-radius: 10px 0 0 0;
}
.table-head th:last-child {
  border-radius:0 10px 0 0;
}
.table-head th:only-child {
  border-radius: 10px 10px 0 0;
}
