@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.table-head {
  position: sticky;
  top: 0;
}
.table-head th:first-child {
  border-radius: 10px 0 0 0px;
}
.table-head th:last-child {
  border-radius: 0 10px 0 0;
}
.footer-container {
  overflow-y: auto;
  min-width: 900px;
  width: 100%;
  max-height: 400px;
  border-radius: 0 0 10px 10px;
}
